<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/hexagon-favicon-2.png">
    <link rel="stylesheet" type="text/css" href="/components/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Orbitron:wght@600&family=Roboto+Slab:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500&family=Noto+Sans+JP&family=Open+Sans:wght@300;400&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="/components/script.js"></script>
    <title>NodeJs mandatory 1 assignment</title>
</head>
<body>

    <!--

        original menu:

        <nav>
        <a href="/">Main</a>
        <a href="/basic-javascript">Javascript</a>
        <a href="/nodejs-intro">NodeJS intro</a>
        <a href="/terminal-commands">Terminal commands</a>
        <a href="/nodejs-setup">NodeJS Setup</a>
        </nav>

    -->

    <!-- source to side menu implementation: https://www.youtube.com/watch?v=tiO8_846kYg -->
    <div id="menu-button">
            <div class="inner-flip-icon-container">
                <div class="front-side">
                </div>
                <div class="back-side">
                    <div class="line line-menu-1"></div>
                    <div class="line line-menu-2"></div>
                </div>
            </div>
    </div>
    <nav id="sidebar" class="sidebar">
        <ul>
            <li class="active"><a href="/" class="menu-underline">Main page</a></li>
            <li><a href="/introduction" class="features-button menu-underline">Introduction</a></li>
            <li><a href="/first-server" class="services-button menu-underline">First server</a></li>
            <li><a href="/serving-html" class="pages-button menu-underline">Serving HTML</a></li>
            <li><a href="/ssr" class="design-button menu-underline">SSR</a></li>
        </ul>
    </nav>

    <!-- source to underlay/overlay inspiration effect: https://www.w3schools.com/howto/howto_css_overlay.asp-->
    <div id="menu-underlay">

    <!-- source of inspiration for clip-path animation: https://www.wolffolins.com-->
    </div>
    <div id="signature">
        <p id="signature-text">Handmade <br>with care<br> by <br>Lukasz Stanislaw&copy;2022</p>
    </div>