.overview-container{
    display: flex;
    flex-direction: column;
}

.list-title{
    font-family: 'Inter', sans-serif;
    padding: 10px;
}

.list-overview{
    display: flex;
    padding: 1em;
}

.list-points-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: -.7em;
}

.list-overview ul li{
    display: flex;
    list-style: none;
    font-family: 'inter', serif;
    font-weight: bold;
    padding: 2px;
}

.list-point{
    font-weight: bold;
    padding: 5px;
}

.list-points-container li p{
    display: contents;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}