.code-highlight{
    font-weight: bold;
    text-decoration: underline;
}

.example-text{
    font-family: 'Roboto slab', serif;
    font-size: .7em;
    font-weight: 100;
    width: calc(100% - 100px);
    margin: auto;
}